gov.miamidade.owlgdb/
**/*.iml
.idea
**/maven*.log
**/target
core/META-INF/
**/.project
**/.classpath
**/.settings
**/.gitignore
**/.bloop
**/.metals
**/.vscode
**/.bsp
storage/lmdb/lmdbold/DefaultBiIndexImpl.java
storage/lmdb/lmdbold/DefaultIndexImpl.java
storage/lmdb/lmdbold/IndexResultSet.java
storage/lmdb/lmdbold/KeyRangeBackwardResultSet.java
storage/lmdb/lmdbold/KeyRangeForwardResultSet.java
storage/lmdb/lmdbold/KeyScanResultSet.java
storage/lmdb/lmdbold/LinkBinding.java
storage/lmdb/lmdbold/LmdbConfig.java
storage/lmdb/lmdbold/LmdbDataInput.java
storage/lmdb/lmdbold/LmdbDataOutput.java
storage/lmdb/lmdbold/LMDBIndexStats.java
storage/lmdb/lmdbold/LmdbStorageImplementation.java
storage/lmdb/lmdbold/LmdbTxCursor.java
storage/lmdb/lmdbold/LMDBUtils.java
storage/lmdb/lmdbold/NativeUtils.java
storage/lmdb/lmdbold/PlainSecondaryKeyCreator.java
storage/lmdb/lmdbold/SingleKeyResultSet.java
storage/lmdb/lmdbold/SingleValueResultSet.java
storage/lmdb/lmdbold/test.java
storage/lmdb/lmdbold/TransactionLmdbImpl.java
storage/lmdb/lmdbold/type/BooleanBinding.java
storage/lmdb/lmdbold/type/ByteBinding.java
storage/lmdb/lmdbold/type/CharacterBinding.java
storage/lmdb/lmdbold/type/DoubleBinding.java
storage/lmdb/lmdbold/type/EntryBinding.java
storage/lmdb/lmdbold/type/FloatBinding.java
storage/lmdb/lmdbold/type/HGDataInput.java
storage/lmdb/lmdbold/type/HGDataOutput.java
storage/lmdb/lmdbold/type/IntegerBinding.java
storage/lmdb/lmdbold/type/LongBinding.java
storage/lmdb/lmdbold/type/ShortBinding.java
storage/lmdb/lmdbold/type/StringBinding.java
storage/lmdb/lmdbold/type/TupleBase.java
storage/lmdb/lmdbold/type/TupleBinding.java
storage/lmdb/lmdbold/type/TupleInput.java
storage/lmdb/lmdbold/type/TupleOutput.java
storage/lmdb/lmdbold/type/util/ByteArrayComparator.java
storage/lmdb/lmdbold/type/util/ByteString.java
storage/lmdb/lmdbold/type/util/DirectBuffer.java
storage/lmdb/lmdbold/type/util/FastInputStream.java
storage/lmdb/lmdbold/type/util/FastOutputStream.java
storage/lmdb/lmdbold/type/util/IsAndroid.java
storage/lmdb/lmdbold/type/util/PackedInteger.java
storage/lmdb/lmdbold/type/util/UtfOps.java
storage/lmdb/lmdbold/type/util/unsafe/Unsafe.java
storage/rocksdb/hgdbrocksdb/
